@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: rgb(250 250 250);
    --foreground: rgb(10 10 10);
    --primary: rgb(200, 200, 200);
    --primary-500: rgb(255, 255, 255);
    --primary-foreground: rgb(128, 128, 128);
    --primary-foreground-500: rgb(0, 0, 0);
    --secondary: rgb(240, 240, 240);
    --secondary-500: rgb(255, 255, 255);
    --secondary-foreground: rgb(31, 41, 55);
    --secondary-foreground-500: rgb(0, 0, 0);
    --warning: rgb(245, 158, 11);
    --warning-500: rgb(253, 245, 200);
    --warning-foreground: rgb(255, 255, 255);
    --warning-foreground-500: rgb(96, 96, 96);
    --success: rgb(34, 197, 94);
    --success-500: rgb(207, 255, 189);
    --success-foreground: rgb(255, 255, 255);
    --success-foreground-500: rgb(96, 96, 96);
    --danger: rgb(239, 68, 68);
    --danger-500: rgb(254, 225, 225);
    --danger-foreground: rgb(255, 255, 255);
    --danger-foreground-500: rgb(96, 96, 96);
    --info: rgb(96, 165, 250);
    --info-500: rgb(214, 233, 255);
    --info-foreground: rgb(255, 255, 255);
    --info-foreground-500: rgb(96, 96, 96);
    --light: rgb(249, 250, 251);
    --light-foreground: rgb(31, 41, 55);
    --dark: rgb(17, 24, 39);
    --dark-foreground: rgb(255, 255, 255);
  }
  .dark {
    --background: rgb(10 10 10);
    --foreground: rgb(250 250 250);
    --primary: rgb(59, 130, 246);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(229, 231, 235);
    --secondary-foreground: rgb(31, 41, 55);
    --warning: rgb(245, 158, 11);
    --warning-foreground: rgb(255, 255, 255);
    --success: rgb(34, 197, 94);
    --success-foreground: rgb(255, 255, 255);
    --danger: rgb(239, 68, 68);
    --danger-foreground: rgb(255, 255, 255);
    --info: rgb(96, 165, 250);
    --info-foreground: rgb(255, 255, 255);
    --light: rgb(249, 250, 251);
    --light-foreground: rgb(31, 41, 55);
    --dark: rgb(17, 24, 39);
    --dark-foreground: rgb(255, 255, 255);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

	.input-tel::-webkit-outer-spin-button,
	.input-tel::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

  .animate-slideDown {
    animation: slideDown 0.5s ease-out;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .animate-slideUpOut {
    animation: slideUpOut 0.5s ease-out forwards;
  }

  @keyframes slideUpOut {
    from {
      transform: translateY(0%);
      opacity: 1;
      pointer-events: none;
    }
    to {
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }

  .animate-slideLeft {
    animation: slideLeft 0.5s ease-out;
  }

  @keyframes slideLeft {
    from {
      transform: translateX(50%);
      opacity: 0;
      pointer-events: none;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .animate-slideRight {
    animation: slideRight 0.5s ease-out;
  }

  @keyframes slideRight {
    from {
      transform: translateX(-50%);
      opacity: 0;
      pointer-events: none;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .animate-slideLeftOut {
    animation: slideLeftOut 0.5s ease-out forwards;
  }

  @keyframes slideLeftOut {
    from {
      transform: translateX(0);
      opacity: 1;
      pointer-events: none;
    }
    to {
      transform: translateX(-50%);
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }

  .animate-slideRightOut {
    animation: slideRightOut 0.5s ease-out forwards;
  }

  @keyframes slideRightOut {
    from {
      transform: translateX(0);
      opacity: 1;
      pointer-events: none;
    }
    to {
      transform: translateX(50%);
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }

  .progress-5-seconds {
    animation: progress 5s linear;
  }

  @keyframes progress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  .animate-appear {
    animation: appear 0.15s ease-out;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .move-left-to-hide {
    animation: moveLeftToHide 1s linear forwards;
  }

  @keyframes moveLeftToHide {
    0% {
      transform: translateX(0);
      z-index: 10;
      opacity: 1;
      display: block;
    }
    50% {
      transform: translateX(-50%);
      z-index: 5;
      opacity: 1;
      display: block;
    }
    100% {
      transform: translateX(0);
      z-index: 1;
      opacity: 0;
      display: none;
    }
  }

  .default-above-position {
    z-index: 10;
    opacity: 1;
    display: block;
  }

  .default-below-position {
    z-index: 1;
    opacity: 0;
    display: none;
  }

  .move-right-to-show {
    animation: moveRightToShow 1s linear forwards;
  }

  @keyframes moveRightToShow {
    0% {
      transform: translateX(0);
      z-index: 1;
      opacity: 0;
      display: none;
    }
    50% {
      transform: translateX(50%);
      z-index: 5;
      opacity: 1;
      display: block;
    }
    100% {
      transform: translateX(0);
      z-index: 10;
      opacity: 1;
      display: block;
    }
  }

  .label-extended-span {
    display: none; /* Initially hidden */
  }

  .custom-label:hover .label-extended-span {
    display: block; /* Shown on hover */
  }

  @keyframes autofill {
    from {}
    to {}
  }

  input:-webkit-autofill {
    animation-name: autofill;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
  }

  .password-format {
    -webkit-text-security: disc;
  }
}
